.moodboard-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}


.moodboard-content {
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  max-width: 600px;
}

.mood-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.mood-buttons button {
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mood-buttons button:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

.mood-display h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.mood-display p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.back-btn {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0.7rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.back-btn:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

audio {
  margin-top: 1rem;
  width: 80%;
}

